<!DOCTYPE html>
<html>

<head>
	<title>Edit budget</title>
	<th:block th:replace="fragments/header :: css"></th:block>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="/budget/list">Kuna</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/budget/list">Budgets</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/paymentMethod/list">Payment methods</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="col-sm-6 mx-auto" style="margin-top: 100px;">
			<div class="card">
				<div class="card-header h4" style="text-align: center;">Edit budget</div>
				<div class="card-body">
					<form method="POST" th:action="@{/budget/edit/{budgetId} (budgetId = ${budget.id})}"
						th:object="${budget}">
						<div class="form-group">
							<div class="row">
								<div class="col">
									<label for="month">Month</label>
									<select class="form-control" id="month" name="month">
										<option th:each="i : ${months}" th:value="${i}" th:text="${#strings.capitalize(#strings.toLowerCase(i))}" th:selected="${i==currentMonth}"></option>
								   </select>
							    </div>
							    <div class="col">
							    	<label for="year">Year</label>
							    	<select class="form-control" id="year" name = "year">							      
									    <option th:each="i : ${#numbers.sequence(budget.year - 10, budget.year + 10)}" 
									            th:value="${i}" th:text="${i}" th:selected="${i==currentYear}"></option>
								   </select>
							    </div>
						    </div>
						</div>
						<div class="form-group" style="text-align: center; margin-top:40px">
							<a href="/budget/list"><button type="button" class="btn btn-secondary col-md-3">Cancel</button></a>
							<button type="submit" class="btn btn-primary col-md-3 ml-auto">Submit</button>
						</div>
						<div class="alert alert-warning" style="text-align:center" th:if="${isDuplicate == true}">
					        <span style="font-weight:bold" th:text="|${#strings.capitalize(#strings.toLowerCase(budget.month))} ${budget.year}|"/> 
					        budget already exists!
					   </div>
					</form>
  				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts"></th:block>
</body>

</html>