<!DOCTYPE html>
<html>

<head>
	<title>Budgets</title>
	<div th:replace="fragments/header :: css"></div>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.css" />
</head>

<body>
   <div class="container">
	   <nav th:fragment = "logo" class="navbar navbar-expand-lg bg-white border-bottom shadowed">
		  <a class="navbar-brand my-anchor" id="logo" href="/budget/list">Nkap <i class='fas fa-coins'></i></a>
		  <ul class="navbar-nav mr-auto">
		  </ul>
		  <ul class="navbar-nav">
		  	 <li class="nav-item">
		  	 	<a class="my-anchor" th:href="@{/logout}">
		  	 		<i class="fas fa-sign-out-alt"></i>
		  	 	</a>
		  	 </li>
		  </ul>
		</nav>
		
		<nav class="navbar navbar-expand-lg bg-white border-bottom shadowed mt-1 mb-3">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		      	<h5 class="nav-link">Your budgets</h5>
		      </li>
		    </ul>
		    <ul class="navbar-nav" id="menu">
		      <li class="nav-item">
		        <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#add-budget-modal">Add budget</button>
		      </li>
		    </ul>
		</nav>
		
		<div th:replace="budget/modals :: add-budget-modal"></div>
		
		<div class="shadowed mb-3" id="line_chart_div"></div>
	
		<table id="myTable" class="table table-striped table-hover shadowed">
			<thead>
				<tr>
			      <th scope="col">Month</th>
			      <th scope="col">Income</th>
			      <th scope="col">Spent</th>
			      <th scope="col">Balance</th>
			    </tr>
			</thead>
					  		  
			<tbody>
				<tr th:each="budget : ${budgets}" class='clickable-row' th:data-href="@{/budget/view/{budgetId} (budgetId = ${budget.id})}">
				  <td th:text="|${budget.year} / ${#numbers.formatInteger(budget.month.getValue, 2)}|"></td>
			      <td th:text="${#numbers.formatCurrency(budget.getTotalIncome)}"></td>
			      <td th:text="${#numbers.formatCurrency(budget.getTotalSpent)}"></td>
			      <td th:text="${#numbers.formatCurrency(budget.getTotalRemaining)}"></td>
		    	</tr>
	    	</tbody>
		</table>
	</div>
	<div th:replace="fragments/header.html :: scripts"></div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>
	<script th:inline="javascript">
		var real_data = /*[[${chartData}]]*/'noValue';
	</script>
	<script src="/js/main.js"></script>
</body>
</html>