<!DOCTYPE html>
<html>

<head>
	<title>View budget</title>
	<th:block th:replace="fragments/header :: scripts"></th:block>
	<script th:inline="javascript">
		$(function () {			
			$("button[id*='delete_transaction_btn']").click(function () {
				var splittedId = $(this).prop('id').split('_');
				var budgetId = splittedId[3];
				var groupId = splittedId[4];
				var categoryId = splittedId[5];
				var transactionId = splittedId[6];
				window.location.href = '/budget/' + budgetId + '/group/' + groupId + '/category/' + categoryId + '/transaction/delete/' + transactionId + '/1';
			});
		});
	</script>
	
	<style>
		.note {
		  display: block;
		  width: 600px;
		  overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		}
	</style>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="#" th:text="|${#strings.capitalize(#strings.toLowerCase(budget.month))} ${budget.year}|"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/budget/view/{budgetId} (budgetId = ${budget.id})}">Plan</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Payment Methods</a>
		      </li>
		    </ul>
		    <span class="navbar-text">
		      <a href="/budget/list" style = "font-weight:bold;">Budgets</a>
		    </span>
		  </div>
		</nav>
		
		<div class="h4" style="font-weight:bold; text-align:center; margin-top: 15px" 
					     th:text="|Income: ${#numbers.formatCurrency(budget.getTotalIncome())} / Planned: ${#numbers.formatCurrency(budget.getTotalPlanned())}|"> </div>
					     
		<div style = "margin-top:5px; font-weight:bold">			
			<table style="width: 100%; margin-left: auto; margin-right: auto;">
				<tr>
			      <td th:text="|Spent: ${#numbers.formatCurrency(budget.getTotalSpent())}|" style="text-align: left;"></td>
			      <td th:text="|Remainder: ${#numbers.formatCurrency(budget.getTotalRemaining())}|" style="text-align: right;"></td>
			    </tr>
			</table>
		</div>
		
		<div class="progress" style = "margin-bottom:10px">
		  <div class="progress-bar bg-info" role="progressbar"  aria-valuenow="25" 
		  	th:style="|width: ${budget.getPercentSpent()}%|" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="card" th:each="paymentMethod : ${paymentMethods}" style="margin-top:3px">
		  <div class="card-header">
		  	<div class = "row">
			  	<div class="col-sm-6" style="font-weight:bold; font-size:25px">
			  	 	<span th:text="|${#strings.capitalizeWords(#strings.toLowerCase(paymentMethod.name))} (${paymentMethod.paymentType})|"></span>
			  	</div>
			  	<div class="col-sm-6 text-right" style="font-weight:bold; font-size:25px">
			  		<span th:text="|${#numbers.formatCurrency(paymentMethod.getTotal(budget.id))}|"></span>
			  	</div>
		  	</div>
		  </div>
		  <div class="card-body">
				<!--<div class="collapse" th:id="|collapse${paymentMethod.id}|">-->
				<div th:if="${paymentMethod.paymentType != T(com.kmercoders.balancedApp.model.PaymentType).CREDIT_CARD}">
				    <table  class="table table-striped">
					  	<tbody>	
					  					    	
					    	<tr th:each="transaction: ${paymentMethod.transactions}" style="cursor:pointer;" th:id="|transaction-${transaction.id}|">
						      
						      <td style="width:1%">
						         <a type="button" th:href="@{/budget/{budgetId}/group/{groupId}/category/{categoryId}/transaction/edit/{tranId}/pm (budgetId = ${budget.id}, groupId = ${transaction.category.group.id}, categoryId = ${transaction.category.id}, tranId = ${transaction.id})}">
						   		 	<i class="fas fa-edit" style="color:cadetblue; margin-right:6px"></i>
							 		 </a>
								</td>
						      <td style="width:15%" th:text="${#temporals.format(transaction.date, 'YYYY-MMM-dd')}"></td>
						      <td style="width:15%" th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
						      <td class = "note" th:text="${transaction.note}"></td>
						      <td style="width:1%">
						      	<a type="button" data-toggle="modal" th:attr="data-target='#delete-transaction'+${transaction.id}">
						 				<i class="fas fa-trash" style="color:orangered"></i>
									</a>
						      </td>
						      
						      <div class="modal fade" th:id="delete-transaction+${transaction.id}" tabindex="-1" role="dialog" 
					          aria-labelledby="deleteTransactionModal" aria-hidden="true">
								  <div class="modal-dialog modal-dialog-centered" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="exampleModalLongTitle">Delete Transaction</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
								        Are you sure you want to delete this transaction?
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								        <button type="button" th:id = "|delete_transaction_btn_${budgetId}_${transaction.category.group.id}_${transaction.category.id}_${transaction.id}|" class="btn btn-danger">Delete</button>
								      </div>
								    </div>
								  </div>
								</div>
					    	</tr>
						</tbody>
					</table>
				</div>
				<div th:unless = "${paymentMethod.paymentType != T(com.kmercoders.balancedApp.model.PaymentType).CREDIT_CARD}" style="margin-top:3px">
					
					<div class="card" style="margin-top:3px">
					  <div class="card-header">
					  	 <div class = "row">
						  	<div class="col-sm-6" style="font-weight:bold; font-size:20px">
						  	 	<span>Settled</span>
						  	</div>
						  	<div class="col-sm-6 text-right" style="font-weight:bold; font-size:20px">
						  		<span th:text="|${#numbers.formatCurrency(paymentMethod.getTotal(budget.id, true))}|"></span>
						  	</div>
					  	</div>
					  </div>
					  <div class="card-body">	
							<table  class="table table-striped">
							  	<tbody>				    	
							    	<tr th:each="transaction: ${paymentMethod.transactions}" th:if="${transaction.isSettled == true}" style="cursor:pointer;" th:id="|transaction-${transaction.id}|">
								      
								      <td style="width:1%">
								         <a type="button" th:href="@{/budget/{budgetId}/group/{groupId}/category/{categoryId}/transaction/edit/{tranId}/pm (budgetId = ${budget.id}, groupId = ${transaction.category.group.id}, categoryId = ${transaction.category.id}, tranId = ${transaction.id})}">
								   		 	<i class="fas fa-edit" style="color:cadetblue; margin-right:6px"></i>
									 		 </a>
										</td>
								      <td style="width:15%" th:text="${#temporals.format(transaction.date, 'YYYY-MMM-dd')}"></td>
								      <td style="width:15%" th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
								      <td class = "note" th:text="${transaction.note}"></td>
								      <td style="width:1%">
								      	<a type="button" data-toggle="modal" th:attr="data-target='#delete-transaction'+${transaction.id}">
								 				<i class="fas fa-trash" style="color:orangered"></i>
											</a>
								      </td>
								      
								      <div class="modal fade" th:id="delete-transaction+${transaction.id}" tabindex="-1" role="dialog" 
							          aria-labelledby="deleteTransactionModal" aria-hidden="true">
										  <div class="modal-dialog modal-dialog-centered" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" id="exampleModalLongTitle">Delete Transaction</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">
										        Are you sure you want to delete this transaction?
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										        <button type="button" th:id = "|delete_transaction_btn_${budgetId}_${transaction.category.group.id}_${transaction.category.id}_${transaction.id}|" class="btn btn-danger">Delete</button>
										      </div>
										    </div>
										  </div>
										</div>
							    	</tr>
								</tbody>
							</table>
					  </div>
					</div>
							
					<div class="card" style="margin-top:3px">
					  <div class="card-header">
					  	 <div class = "row">
						  	<div class="col-sm-6" style="font-weight:bold; font-size:20px">
						  	 	<span>Not Settled</span>
						  	</div>
						  	<div class="col-sm-6 text-right" style="font-weight:bold; font-size:20px">
						  		<span th:text="|${#numbers.formatCurrency(paymentMethod.getTotal(budget.id, false))}|"></span>
						  	</div>
					  	</div>
					  </div>
					  <div class="card-body">		
							<table  class="table table-striped">
							  	<tbody>	
							  					    	
							    	<tr th:each="transaction: ${paymentMethod.transactions}" th:if="${transaction.isSettled == false}" style="cursor:pointer;" th:id="|transaction-${transaction.id}|">
								      
								      <td style="width:1%">
								         <a type="button" th:href="@{/budget/{budgetId}/group/{groupId}/category/{categoryId}/transaction/edit/{tranId}/pm (budgetId = ${budget.id}, groupId = ${transaction.category.group.id}, categoryId = ${transaction.category.id}, tranId = ${transaction.id})}">
								   		 	<i class="fas fa-edit" style="color:cadetblue; margin-right:6px"></i>
									 		 </a>
										</td>
								      <td style="width:15%" th:text="${#temporals.format(transaction.date, 'YYYY-MMM-dd')}"></td>
								      <td style="width:15%" th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
								      <td class = "note" th:text="${transaction.note}"></td>
								      <td style="width:1%">
								      	<a type="button" data-toggle="modal" th:attr="data-target='#delete-transaction'+${transaction.id}">
								 				<i class="fas fa-trash" style="color:orangered"></i>
											</a>
								      </td>
								      
								      <div class="modal fade" th:id="delete-transaction+${transaction.id}" tabindex="-1" role="dialog" 
							          aria-labelledby="deleteTransactionModal" aria-hidden="true">
										  <div class="modal-dialog modal-dialog-centered" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" id="exampleModalLongTitle">Delete Transaction</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">
										        Are you sure you want to delete this transaction?
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										        <button type="button" th:id = "|delete_transaction_btn_${budgetId}_${transaction.category.group.id}_${transaction.category.id}_${transaction.id}|" class="btn btn-danger">Delete</button>
										      </div>
										    </div>
										  </div>
										</div>
							    	</tr>
								</tbody>
							</table>
					  </div>
					</div>
					
				</div>
				<!--</div>-->
		  </div>		  
		</div>
	</div>	
</body>

</html>