<!DOCTYPE html>
<html>

<head>
	<title>View budget</title>
	<th:block th:replace="fragments/header::css"></th:block>
	<link rel="stylesheet" href="/css/main.css"/>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg bg-white border-bottom shadowed">
		  <a class="navbar-brand my-anchor" id="logo" href="/budget/list">Nkap <i class='fas fa-coins'></i></a>
		  <ul class="navbar-nav mr-auto">
		  </ul>
		  <ul class="navbar-nav">
		  	 <li class="nav-item">
		  	 	<a class="my-anchor" th:href="@{/logout}">
		  	 		<i class="fas fa-sign-out-alt"></i>
		  	 	</a>
		  	 </li>
		  </ul>
		</nav>
		
		<nav class="navbar navbar-expand-lg bg-white border-bottom shadowed mt-1">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		      	<h5 class="nav-link" th:text="|${#strings.capitalize(#strings.toLowerCase(budget.month))} ${budget.year}|"></h5>
		      </li>
		    </ul>
		    <ul class="navbar-nav" id="menu">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Plan</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/budget/transactions_by_payment_method/{budgetId} (budgetId = ${budget.id})}">Payment methods</a>
		      </li>
		    </ul>
		</nav>
		
		<div class="row mt-4">
			<div class="col-md-3">
				<div class="col-md-12 stat">
					<div>Total income</div>
					<h4 th:text="|${#numbers.formatCurrency(budget.getTotalIncome())}|"></h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-12 stat">
					<div>Planned</div>
					<h4 th:text="|${#numbers.formatCurrency(budget.getTotalPlanned())}|"></h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-12 stat">
					<div>Spent</div>
					<h4 th:text="|${#numbers.formatCurrency(budget.getTotalSpent())}|"></h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-12 stat">
					<div>Balance</div>
					<h4 th:text="|${#numbers.formatCurrency(budget.getTotalRemaining())}|"></h4>
				</div>
			</div>
		</div>
		
		<div class="card shadowed mt-4" th:each="group : ${budget.groups}">
		  <div class="card-header">		  	
		  	<a type="button" th:if="${group.name} != 'income'" data-toggle="modal" th:attr="data-target='#edit-group-modal-'+${group.id}">
		  	  <span class="group-name" th:text="${#strings.capitalize(#strings.toLowerCase(group.name))}"></span>
		  	</a>
		  	<span class="group-name" th:if="${group.name} == 'income'" th:text="${#strings.capitalize(#strings.toLowerCase(group.name))}"></span>
		  </div>
		  
		  <th:block th:replace="group :: edit-group-modal(id=${group.id})"></th:block>
		  <th:block th:replace="group :: delete-group-modal(id=${group.id})"></th:block>
		  
		  <div class="card-body">
		    <div class="card mb-3 shadowed" th:each="category: ${group.categories}">
		    	<div class="card-header">
		    	  <div class = "row">
			    	  <div class="col-sm-4">
			    	  	  <a id="toggle-bars" data-toggle="collapse" th:href="|#collapse${category.id}|" role="button" aria-controls="|collapse${category.id}|">
			    	  	  	<i class="fa fa-bars my-anchor">&nbsp</i>
			    	  	  </a>
			    	  	  <a type="button" data-toggle="modal" th:attr="data-target='#edit-category-modal-'+${category.id}">
			    	  	  	<span class="my-anchor category-name" th:text="|${#strings.capitalize(#strings.toLowerCase(category.name))}|"></span>
			    	  	  </a>
			    	  	  <th:block th:replace="category :: edit-category-modal(id=${category.id})"></th:block>		  
					  </div>
					  <div class="col-sm-4 text-center"><span th:text="|${#numbers.formatCurrency(category.getRemaining)} left|"></span></div>
					  <div class="col-sm-4 text-right"><span th:text="|${#numbers.formatCurrency(category.allocation)}|"></span></div>
				 </div>
				 <div class="progress">
					<div class="progress-bar bg-info" role="progressbar"
					  	th:style="|width: ${category.getPercentSpent()}%|" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<div class="collapse show" th:id="|collapse${category.id}|">
				  <div class="card-body">
				  	<div class="table-responsive">
					    <table class="table table-hover table-striped">
						  	<tbody>
						  		<tr th:each="transaction: ${category.transactions}" >
							      <td th:text="${#temporals.format(transaction.date, 'YYYY-MMM-dd')}" data-toggle="modal" th:attr="data-target='#edit-transaction-modal-'+${transaction.id}"></td>
							      <td th:text="${#numbers.formatCurrency(transaction.amount)}" data-toggle="modal" th:attr="data-target='#edit-transaction-modal-'+${transaction.id}"></td>
							      <td class = "note" th:text="${transaction.note}" data-toggle="modal" th:attr="data-target='#edit-transaction-modal-'+${transaction.id}"></td>
							      <td>
							      	 <a type="button" data-toggle="modal" th:attr="data-target='#delete-transaction-modal-'+${transaction.id}">
						 				<i class="fas fa-trash" style="color:orangered"></i>
									 </a>
							      </td>
							      <th:block th:replace="transaction :: edit-transaction-modal (id = ${transaction.id})"></th:block>
						    	  <th:block th:replace="transaction :: delete-transaction-modal (id = ${transaction.id})"></th:block>
						    	</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-sm-6 text-left">
							 <a class="text-primary" type="button" data-toggle="modal" th:attr="data-target='#add-transaction-modal-'+${category.id}">
						  	 	Add transaction
						  	 </a>
					  	 </div>
					  	 <th:block th:replace="transaction :: add-transaction-modal (category_id = ${category.id})"></th:block>
					  	 
					  	 <div class="col-sm-6 text-right">
						  	 <a type="button" class="text-danger" data-toggle="modal" th:attr="data-target='#delete-category-modal-'+${category.id}" >
				 				Delete category
							 </a>
						 </div>
						 <th:block th:replace="category :: delete-category-modal(id=${category.id})"></th:block>
					 </div>
				  </div>
				</div>
			 </div>
			 
			 <div class="row mt-2">
			 	 <div class="col-sm-6 text-left">
					 <button type="button" class="btn btn-outline-primary" data-toggle="modal" th:attr="data-target='#add-category-modal-'+${group.id}">
				  	 	Add category
				  	 </button>
			  	 </div>
			  	 <th:block th:replace="category :: add-category-modal (group_id = ${group.id})"></th:block>
			  	 
			  	 <div class="col-sm-6 text-right">
				  	 <button type="button" th:if="${group.name} != 'income'" data-toggle="modal" th:attr="data-target='#delete-group-modal-'+${group.id}" class="btn btn-outline-danger">
		 				Delete group
					 </button>
				</div>
		  	 </div>
		  </div>
		</div>
		
		<a type="button" data-toggle="modal" data-target="#add-group-modal" class="btn btn-outline-primary btn-lg btn-block shadowed mt-3 mb-3">
			Add group
		</a>
		<th:block th:replace="group :: add-group-modal"></th:block>

		<button type="button" data-toggle="modal" th:attr="data-target='#delete-budget'+${budget.id}" class="btn btn-outline-danger btn-lg btn-block shadowed mt-3 mb-3">
			Detele budget
		</button>
		
		<th:block th:replace="budget/modals :: delete-budget-modal"></th:block>		
	</div>	
	<th:block th:replace="fragments/header :: scripts"></th:block>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:inline="javascript">
		var budget_id = /*[[${budget.id}]]*/'noValue';
	</script>
	<script src="/js/main.js"></script>
</body>
</html>