<!DOCTYPE html>
<html>

<head>
	<title>Create group</title>
	<th:block th:replace="fragments/header :: scripts"></th:block>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" th:href="@{/budget/view/{budgetId} (budgetId = ${budget.id})}" th:text="|${#strings.capitalize(#strings.toLowerCase(budget.month))} ${budget.year}|"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/budget/view/{budgetId} (budgetId = ${budget.id})}">Plan</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/budget/transactions_by_payment_method/{budgetId} (budgetId = ${budget.id})}">Payment Methods</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="col-sm-6 mx-auto" style="margin-top: 100px;">
			<div class="card">
				<div class="card-header h4" style="text-align: center;">Create group</div>
				<div class="card-body">
					<form method="POST" th:action="@{/budget/{budgetId}/group/create (budgetId = ${budget.id})}" th:object = "${group}">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" th:field="*{name}">
							<div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						</div>
						<div class="form-group" style="text-align: center; margin-top:40px">
							<a th:href="@{/budget/view/{budgetId} (budgetId = ${budget.id})}" ><button type="button" class="btn btn-secondary col-md-3">Cancel</button></a>
							<button type="submit" class="btn btn-primary col-md-3 ml-auto">Submit</button>
						</div>
					</form>
  				</div>
			</div>
		</div>
	</div>
</body>

</html>