<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
</head>

<body>
	<!-- add budget modal -->
	<div th:fragment = "add-budget-modal" class="modal fade" id="add-budget-modal" tabindex="-1" role="dialog" aria-labelledby="addBudgetModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title bree-serif-normal">Add Budget</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col">
							<label for="month">Month</label>
							<select class="form-control" id="month" name="month">
								<option th:each="i : ${months}" th:value="${i}" th:text="${#strings.capitalize(#strings.toLowerCase(i))}" th:selected="${i==currentMonth}">
								</option>
						   </select>
					    </div>
					    <div class="col">
					    	<label for="year">Year</label>
					    	<select class="form-control" id="year" name = "year">							      
							    <option th:each="i : ${#numbers.sequence(currentYear - 10, currentYear + 10)}" 
							            th:value="${i}" th:text="${i}" th:selected="${i==currentYear}"></option>
						   </select>
					    </div>
				    </div>
				</div>
			<div id="add-budget-error" class="alert alert-warning text-center mt-3 mb-0">
		        Budget already exists!
		   </div>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button id="create-budget" class="btn btn-primary">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Delete budget modal -->
	<div th:fragment = "delete-budget-modal" class="modal fade" th:id="delete-budget+${budget.id}" tabindex="-1" role="dialog" aria-labelledby="deleteBudgetModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Delete budget</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Are you sure you want to delete
	        <span style="font-weight:bold" th:text="|${#strings.capitalize(#strings.toLowerCase(budget.month))} ${budget.year}|"/> 
	        budget?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" th:id = "|delete_budget_btn_${budget.id}|" class="btn btn-danger">Delete</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>

</html>