<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
	<title>Please Register</title>
	<th:block th:replace="fragments/header :: scripts"></th:block>
	<script type="text/javascript">
	   $(function(){
	      if($("#errorMsg").text() != ""){
	        $("#errorMsg").removeClass("d-none");
	      }
	   });
	</script>
	<script type="text/javascript">
	    $(function(){
	        $("#backBtn").click(function(){
	            window.location.href = "/";
	        });
	    });
	</script>
</head>
<body>
	<div class = "container" style = "font-weight: bold">
	<div class="card w-50 mx-auto" style = "margin-top: 100px;">
	  <h2 class="card-header" style = "text-align: center;">Register</h2>
	  <div class="card-body">
	    <div id="errorMsg" class="alert alert-danger d-none" role="alert" th:text = "${error}"></div>
	    <form action = "" method = "post">
		  <div class="mb-3">
		    <label for="username" class="form-label">Email address</label>
		    <input type="email" class="form-control" th:field = "${user.username}" aria-describedby="emailHelp"/>
		  </div>
		  <div class="mb-3">
		    <label for="password" class="form-label">Password</label>
		    <input type="password" class="form-control" th:field = "${user.password}"/>
		  </div>
		  
		  <div class="mb-3">
		    <label for="confirmPassword" class="form-label">Confirm Password</label>
		    <input type="password" class="form-control" th:field = "${user.confirmPassword}"/>
		  </div>
		  <button id = "backBtn" type = "button" class = "btn btn-secondary">Back</button>
		  <button type="submit" class="btn btn-primary" style = "float: right;">Register</button>
		  <!--<div class="alert alert-warning" style="text-align:center; margin-top:10px" th:if="${isDuplicate == true}">
				Username already exists!!!
		  </div>-->
		</form>
	  </div>
	</div>
	</div>
</body>
</html>